name: Build and Deploy Docker Image to Azure Web App

on:
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t giangnguyen2210/roborent-api:latest .

      - name: Push Docker Image
        run: docker push giangnguyen2210/roborent-api:latest

  deploy:
    name: Restart Azure Web App to Pull Latest Image
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B00070ACC652441980D204CB4F2189DB }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_106A2F21C1404F978FB2AFE652504257 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2C9D8363C62246E4812463F757A50308 }}

      - name: Restart Azure Web App
        run: |
          az webapp restart \
            --name RoboRentPython2 \
            --resource-group RoboRentPython2_group
